<h2 mat-dialog-title>Connected wall</h2>

<mat-dialog-content class="form">

  <mat-form-field>
    <mat-label>
      Name
    </mat-label>
    <input
      matInput
      [(ngModel)]="name"
    >

  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    class="mat-raised-button"
    (click)="close()"
  >
    Close
  </button>
  <button
    class="mat-raised-button mat-primary"
    (click)="save()"
  >
    Accept
  </button>
</mat-dialog-actions>