:host {
  mat-dialog-content {
    display: flex;
    flex-direction: column;
    width: 800px;
    div {
      width: 100%;

      mat-form-field {
        width: 100%;
      }

      .img-container {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  mat-dialog-actions {
    display: flex;
    justify-content: space-between;
  }
}
