<h2 mat-dialog-title>Edit this module</h2>

<mat-dialog-content class="form">

  <div [ngSwitch]="moduleType">
    <mat-form-field *ngSwitchCase="ModuleType.Text">
      <mat-label>
        Text to display
      </mat-label>
      <textarea
        matInput
        [(ngModel)]="content"
        rows="10"
      >
      </textarea>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="ModuleType.Photo">
      <mat-label>
        Url of the photo
      </mat-label>
      <input
        matInput
        [(ngModel)]="content"
      />
    </mat-form-field>
    <mat-form-field *ngSwitchCase="ModuleType.Video">
      <mat-label>
        Url of the video
      </mat-label>
      <input
        matInput
        [(ngModel)]="content"
      />
    </mat-form-field>
    <div
      *ngSwitchCase="ModuleType.Photo"
      class="img-container"
    >
      <img [src]="content">
    </div>
  </div>
  <mat-form-field>
    <mat-label>
      Type
    </mat-label>
    <mat-select [(value)]="moduleType">
      <mat-option
        *ngFor="let type of moduleTypesArray"
        [value]="type.index"
      >
        {{type.value}}
      </mat-option>
    </mat-select>

  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Additional Styles
    </mat-label>
    <textarea
      matInput
      [(ngModel)]="additionnalStyles"
      rows="10"
    >
    </textarea>

  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    class="mat-raised-button"
    (click)="close()"
  >
    Close
  </button>
  <button
    class="mat-raised-button mat-primary"
    (click)="save()"
  >
    Save
  </button>
</mat-dialog-actions>