<div class="connected-walls-list">
  <mat-table [dataSource]="connectedWallsList">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        Wall name
      </mat-header-cell>
      <mat-cell *matCellDef="let connectedWall">
        {{connectedWall.name}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        Actions
      </mat-header-cell>
      <mat-cell *matCellDef="let connectedWall">

        <button
          mat-icon-button
          [routerLink]="['wall', connectedWall.id]"
          matTooltip="See wall"
        >
          <mat-icon>
            fullscreen
          </mat-icon>
        </button>
        <button
          mat-icon-button
          [routerLink]="['modify-wall', connectedWall.id]"
          matTooltip="Modify wall"
        >
          <mat-icon>
            create
          </mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="deleteWall(connectedWall.id)"
          matTooltip="Delete wall"
        >
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['name', 'actions']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'actions']"></mat-row>
  </mat-table>

</div>

<button
  mat-raised-button
  (click)="createNewWall()"
  class="add-wall"
>
  Create a new wall
</button>