:host {
  .connected-walls-list {
    display: flex;
    flex-direction: column;
    margin: auto;

    .connected-wall {
      display: flex;
      flex-direction: row;
    }
  }

  .add-wall {
    margin: 3px;
  }
}
