<app-connected-wall
  *ngIf="connectedWall"
  [connectedWall]="connectedWall"
  [enabled]="true"
>

</app-connected-wall>

<div class="panel left top">

  <div class="actions">
    <button
      mat-icon-button
      (click)="back()"
      matTooltip="Back to list"
    >
      <mat-icon>
        keyboard_backspace
      </mat-icon>
    </button>

    <button
      mat-raised-button
      (click)="addModule()"
    >
      Add a module
    </button>

    <button
      mat-raised-button
      (click)="editName()"
    >
      Edit wall name
    </button>
  </div>


</div>