<div class="dd-boundaries">
  <div
    class="connected-wall-name"
    *ngIf="enabled"
  >
    <h2>
      {{connectedWall ? connectedWall.name : ''}}
    </h2>
  </div>
  <app-module
    *ngFor="let module of connectedWall.modules"
    [enabled]="enabled"
    [module]="module"
    (moduleChanged)="moduleChanged($event)"
    (moduleDeleted)="moduleDeleted($event)"
  >
  </app-module>
</div>