:host {
  .dd-boundaries {
    position: absolute;
    height: 100vh;
    width: 100vw;
    // background-color: gray;
  }

  .connected-wall-name {
    width: 100%;
    text-align: center;
    z-index: -1;
  }
}
