<div
  class="module-dd"
  #moduleElement
  cdkDrag
  cdkDragBoundary=".dd-boundaries"
  [cdkDragDisabled]="ddDisabled"
  (cdkDragEnded)="onDragEnd($event)"
  [ngStyle]="styles"
  mwlResizable
  [enableGhostResize]="true"
  (resizeStart)="onResizeStart()"
  (resizeEnd)="onResizeEnd($event)"
>


  <div
    *ngIf="enabled"
    class="resize-handle top left corner-nwse"
    mwlResizeHandle
    [resizeEdges]="{ top: true, left: true}"
  ></div>

  <div
    *ngIf="enabled"
    class="resize-handle top "
    mwlResizeHandle
    [resizeEdges]="{ top: true}"
  ></div>

  <div
    *ngIf="enabled"
    class="resize-handle top right corner-nesw"
    mwlResizeHandle
    [resizeEdges]="{ top: true, right: true}"
  ></div>


  <div
    *ngIf="enabled"
    class="resize-handle right "
    mwlResizeHandle
    [resizeEdges]="{ right: true}"
  ></div>

  <div
    *ngIf="enabled"
    class="resize-handle bottom right corner-nwse"
    mwlResizeHandle
    [resizeEdges]="{ bottom: true, right: true}"
  ></div>


  <div
    *ngIf="enabled"
    class="resize-handle bottom "
    mwlResizeHandle
    [resizeEdges]="{ bottom: true}"
  ></div>

  <div
    *ngIf="enabled"
    class="resize-handle bottom left corner-nesw"
    mwlResizeHandle
    [resizeEdges]="{ bottom: true, left: true}"
  ></div>




  <div
    *ngIf="enabled"
    class="resize-handle left "
    mwlResizeHandle
    [resizeEdges]="{ left: true}"
  ></div>





  <div
    *ngIf="enabled"
    class="resize-handle left"
    mwlResizeHandle
    [resizeEdges]="{ left: true}"
  ></div>

  <div
    class="content"
    [ngStyle]="contentStyles"
    [style]="module.additionnalStyles"
  >
    <pre
      class="text-content"
      *ngIf="module.type === ModuleType.Text"
    >{{module.content}}</pre>

    <img
      class="img-content"
      [src]="module.content"
      *ngIf="module.type === ModuleType.Photo"
    />

    <div
      *ngIf="module.type === ModuleType.Video"
      class="video-content"
    >
      <div
        class="video-player"
        #ytbIframe
      >

      </div>
      <video
        class="video-player"
        *ngIf="!isYTBUrl(module.content)"
        [src]="module.content"
        autoplay
        loop
      ></video>
    </div>

    <button
      mat-icon-button
      *ngIf="enabled"
      class="panel right bottom edit"
      (click)="openModuleDialog()"
    >
      <mat-icon>
        create
      </mat-icon>
    </button>


    <button
      mat-icon-button
      *ngIf="enabled"
      class="panel left top edit"
      (click)="deleteModule()"
    >
      <mat-icon>
        delete
      </mat-icon>
    </button>
  </div>


</div>