:host {
  .module-dd {
    position: absolute;
    // background-color: red;
    min-width: 40px;
    min-height: 40px;

    // &:hover {
    //   background-color: blue;
    // }

    > .resize-handle {
      position: absolute;
      z-index: 1;
    }

    > .top,
    > .bottom {
      height: 7px;
      width: 100%;
      cursor: row-resize;
    }

    > .left,
    > .right {
      height: 100%;
      width: 7px;
      cursor: col-resize;
    }

    > .corner-nesw {
      height: 7px;
      width: 7px;
      z-index: 2;
      cursor: nesw-resize;
    }

    > .corner-nwse {
      height: 7px;
      width: 7px;
      z-index: 2;
      cursor: nwse-resize;
    }

    .content {
      text-align: justify;
      user-select: none;
      position: absolute;
      width: calc(100% - 2px);
      height: calc(100% - 2px);

      .text-content {
        white-space: pre-wrap;
        z-index: -1;
        margin: 0;
      }

      .img-content {
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      .video-content {
        width: 100%;
        height: 100%;
        z-index: -1;

        video {
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }

      .edit {
        position: absolute !important;
      }
    }
  }
}
